img{
  height: 30%;
  width: 50%;

  justify-content: center;
  display: flex;
  z-index: 2;
  align-items: center;

  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;

  -webkit-box-shadow: 1px 1px 16px 5px rgba(0,0,0,1);
  -moz-box-shadow: 1px 1px 16px 5px rgba(0,0,0,1);
   box-shadow: 1px 1px 16px 5px rgba(0,0,0,1);
}


.logos{
  height: 100px;
  width:100px;
  border-radius: 50%;
  padding: auto auto;






}

.vendingMachineContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.machineContainer{
  background: rgb(0,0,36);
  background: linear-gradient(144deg, rgba(0,0,36,1) 4%, rgba(110,113,156,1) 50%, rgba(20,13,13,1) 100%); 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 100%;
}

.beerContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
}

h1{
  color: blanchedalmond;
  justify-content: center;
  align-items: center;


}

.App-nav{
  width:80%;
  display: flex;
  margin: 1rem auto;
  justify-content: space-around;
  text-decoration: none;
  /* border-radius: 5px; */
}

.all-links{
  color: turquoise;
  text-decoration: none;
  font-size: xx-large;
  font-family: "Segoe UI";
}

/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif; */

.active-link{
  color: blanchedalmond;
  border-bottom: 1px solid thistle;
}
